* {
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;

}

.cont {
	width: 100%;
	height: auto;
	background-color: #fff;
	display: flex;
}

.left_nav {
	width: 15%;
	height: auto;
	border: 1px solid #F1F1F1;
}

.left_nav ul {
	list-style: none;
}

.left_nav input {
	width: 92%;
	height: 35px;
	margin: 10px 10px;
}

.right_cont {
	width: 100%;
	height: auto;
	border: 1px solid #C4C4C4;
}

.right_cont .top {
	width: 100%;
	height: auto;
	display: flex;
	/* justify-content: space-around; */
	margin: 10px 10px;
}

.right_cont .top .map {
	width: 50%;
	height: 315px;
	flex-wrap: wrap;
}
.jieshao{
	width: 57%;
	height: auto;
	border: 1px solid #C4C4C4;
    margin-bottom: 10px;
    margin-left: 1%;
    min-height: 260px;
}
.jieshao h2{
	margin: 20px 2%;
    width: 96%;
    font-size: 20px;
}
.jieshao p{
	margin: 0 2% 20px 2%;
    width: 96%;
}
.zaizhibox{
	width: 100%;
	height: auto;
	position: relative;
}
.zaizhi{
/* 	width: 60%;
	height: auto; */
	display: flex;
	justify-content: right;
	flex-wrap: wrap;
	border-bottom: 2px solid #C4C4C4;
}
.zaizhi .people{
	width: 47%;
	height: auto;
	border: 1px solid #C4C4C4;
	margin-left: 17px;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	position: relative;
}
.zaizhi .people img{
	width: 150px;
	height: 190px;
	border: 1px solid #C4C4C4;
	margin-left: 10px;
}
.zaizhi .people ul{
	list-style: none;
}
.zaizhi .people ul li{
    list-style: none;
	margin: 20px 0px;
	margin-left: 20px;
}
.zaizhibox .title{
	display: flex;
	align-items: center;
	margin: 20px 0px;
	margin-left: 10px;
}