*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
	font-family: "微软雅黑";
}
.topbox{
	width: 100%;
	min-width:1200px;
	height:15%;
	background-color: #af0102;
	background: url(../img/login/topimg.png) no-repeat center center;
	background-size: 100% 100%;
    position:relative;
    overflow: hidden;
}

.topbox .title{
	display: flex;
	width: 100%;
	position: absolute;
	bottom: 10px;
	margin-left: 110px;
}
.topbox h1{
	color: #fff67e;
	font-size: 45px;
}
.topbox img{
	width: 77px;
	height: 77px;
}
.topbox .title p{
	font-size: 20px;
	color: #fff67e;
}
.title .text{
	margin-left: 15px;
}
.topbox .bgimg{
	width: 65%;
	height: 96%;
	background: url(../img/login/topimg.png) no-repeat center center;
	background-size: 100% 100%;
	background-color: transparent;
}
.main{
	width: 100%;
	height: 80%;
	display: flex;
	justify-content: space-around;
    align-items : center;
	background: url(../img/login/bg_bottom.png) no-repeat center center;
	background-size: 53% 40%;
	background-position: 100% 100%;
    position:relative;
    overflow: hidden;
}
.leftmap{
	width: 45%;
	height: 80%;
	background: url(../img/login/map.png) no-repeat center center;
	background-size: auto 100%;
}

.right{
	width: 530px;
	height: 462px;
	position: relative;
    padding-right: 150px;
}
.loginbox{
	width: 530px;
	height: 462px;
	border: 1px solid #ededed;
	background:#fff;
}
.bg_bottom{
	width: 100%;
	height: 50%;
	position: absolute;
	bottom: 0;
}
.loginbox p{
	width: 100%;
	font-size: 38px;
	color: #af0102;
	text-align: center;
	font-weight: bold;
	padding-top: 14%;
}
.loginbox .input{
	width: 70%;
	height: 10%;
	border-bottom: 1px solid #C4C4C4;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	margin-bottom: 20px;
}
.loginbox .hide{
	width: 70%;
	height: 10%;
	margin: 0 auto;
	font-size: 12px;
	color: #AF0102;
	text-align: center;
	line-height: 37px;
}
.loginbox .input input{
	width: 86%;
	height: 100%;
	border:none;
	outline:none;
	font-size: 18px;
	padding-left: 10px;
    border: 0;
	/* margin-left: 5%; */
}
.loginbox .input img{
	width: 23px;
	height: 24px;
	padding: 0 10px;
}
.loginbox .input .yzm{
	width: 60%;
}
.loginbox .input1{
	width: 70%;
	height: 10%;
	margin: 0 auto;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	
}
.loginbox .input1 input{
	width: 55%;
	height: 99%;
	border: 1px solid #C4C4C4;
	/* border:none; */
	outline:none;
	font-size: 18px;
	padding-left: 10px;
}
.loginbox .input1 .pic{
	width: 40%;
	height: 100%;
	border: 1px solid #C4C4C4;
	margin-left: 5%;
}
.footer{
	width: 100%;
	height: 5%;
	background-color: #af0102;
	position:relative;
    overflow: hidden;
    color:#FFF;
    text-align: center;
	line-height: 48px;
	font-size:16px;
}